
<div *ngIf='! initialized' class='spinner-container' fxLayout='row' fxLayoutAlign='center center'>
  <mat-spinner [diameter]='150' [strokeWidth]='10'></mat-spinner>
</div>

<div *ngIf='initialized' fxLayout='column' fxLayoutAlign='center stretch'>
  <div fxLayout='row wrap' fxLayoutAlign='center stretch'>
    <app-dashboard-card-spawner *ngFor='let card of statusCards' class='status-card' [card]='card'></app-dashboard-card-spawner>
  </div>
  <app-dashboard-card-spawner class='chart-card' [card]='chartCards[0]'></app-dashboard-card-spawner>
  <app-dashboard-card-spawner class='chart-card' [card]='chartCards[1]'></app-dashboard-card-spawner>
</div>
