<h2 class='mat-h2'>{{ title }}</h2>

<div class='ngx-chart-container'>
  <ngx-charts-line-chart
    class='order-chart-container'
    [scheme]='colorScheme'
    [schemeType]='schemeType'
    [results]='orderSeries'
    [animations]='animationsEnabled'
    [legend]='showLegend'
    (legendLabelClick)='onLegendLabelClick($event)'
    [gradient]='gradientEnabled'
    [xAxis]='showXAxis'
    [yAxis]='showYAxis'
    [showXAxisLabel]='showXAxisLabel'
    [showYAxisLabel]='showYAxisLabel'
    [xAxisLabel]='xAxisLabel'
    [yAxisLabel]='yAxisLabel'
    [autoScale]='enableAutoScale'
    [timeline]='enableTimelineControl'
    [showGridLines]='showGridLines'
    [curve]='curve'
    [rangeFillOpacity]='rangeFillOpacity'
    [roundDomains]='roundDomains'
    [tooltipDisabled]='tooltipDisabled'
    [xAxisTickFormatting]='xAxisFormat'
    (select)='select($event)'
    (activate)='activate($event)'
    (deactivate)='deactivate($event)'>

    <ng-template #tooltipTemplate let-model='model' class='mat-elevation-z8'>
      <div *ngIf='model'>
        <h3 *ngIf='orderDetails(model).side !== noneSide && orderDetails(model).doneReason !== "unauthenticated order"'>
          <span class='tooltip-label'>{{ Side[orderDetails(model).side] }} Order:
            {{ orderDetails(model).status === rejectedStatus ? 'rejected' : 'accepted' }}
          </span>
        </h3>

        <h3 *ngIf='orderDetails(model).side !== noneSide && orderDetails(model).doneReason === "unauthenticated order"'>
          <span class='tooltip-label'>{{ Side[orderDetails(model).side] }} Order: rejected (unauthenticated)
          </span>
        </h3>

        <h3 *ngIf='orderDetails(model).side === noneSide'>
          <span class='tooltip-label'>No-op Order</span>
        </h3>

        <mat-table mat-table [dataSource]='orderToRows(model)'>
          <ng-container matColumnDef='name'>
            <th mat-header-cell *matHeaderCellDef>Row Name</th>
            <td mat-cell *matCellDef='let row' class='tooltip-val'> {{ row.name }} </td>
          </ng-container>
          <ng-container matColumnDef='value'>
            <th mat-header-cell *matHeaderCellDef>Row Value</th>
            <td mat-cell *matCellDef='let row' class='tooltip-val'> {{ row.value }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='columnsToDisplay' style='display: none;'></tr>
          <tr mat-row *matRowDef='let rowData; columns: columnsToDisplay'></tr>
        </mat-table>
      </div>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model='model' class='mat-elevation-z8'>
      <div *ngIf='model && model.length'>
        <h3 *ngIf='orderDetails(model).side !== noneSide && orderDetails(model).doneReason !== "unauthenticated order"'>
          <span class='tooltip-label'>{{ Side[orderDetails(model[0]).side] }} Order:
            {{ orderDetails(model[0]).status === rejectedStatus ? 'rejected' : 'accepted' }}
          </span>
        </h3>

        <h3 *ngIf='orderDetails(model).side !== noneSide && orderDetails(model).doneReason === "unauthenticated order"'>
          <span class='tooltip-label'>{{ Side[orderDetails(model).side] }} Order: rejected (unauthenticated)
          </span>
        </h3>

        <h3 *ngIf='orderDetails(model[0]).side === noneSide'>
          <span>No-op Order</span>
        </h3>

        <mat-table mat-table [dataSource]='orderToRows(model[0])'>
          <ng-container matColumnDef='name'>
            <th mat-header-cell *matHeaderCellDef>Row Name</th>
            <td mat-cell *matCellDef='let row'> {{ row.name }} </td>
          </ng-container>
          <ng-container matColumnDef='value'>
            <th mat-header-cell *matHeaderCellDef>Row Value</th>
            <td mat-cell *matCellDef='let row'> {{ row.value }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='columnsToDisplay' style='display: none;'></tr>
          <tr mat-row *matRowDef='let rowData; columns: columnsToDisplay'></tr>
        </mat-table>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
</div>
