
:host {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 20px;
}

.ngx-chart-container {
  width: 98%;
  height: 92%;
}

h2.mat-h2 {
  text-align: center;
}

tr.mat-footer-row, tr.mat-row {
  height: 2.5em;
  vertical-align: middle;
}

td.mat-cell {
  text-align: left;
  font-size: 12px;

  &:first-of-type {
    padding-left: 5px;
    padding-right: 25px;
  }

  &:last-of-type {
    padding-right: 5px;
  }
}

.tooltip-label {
  text-transform: capitalize;
}


