/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';


html, body {
  height: 100%;
  max-width: 2540px;
  text-align: center;
}

body {
  margin: 10px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


// TODO - move these styles out of this base styles.scss class. Currently moving them into the
// component's scss files doesn't work. Likely has to do with the fact these components are
// dynamically created
ngx-charts-line-chart.accounts-performance-chart-container {
  g.line-chart > g:last-of-type > g:nth-child(3) g.line-series > path {
    stroke: #72b4ec;
    stroke-dasharray: 6 10;
  }

  ngx-charts-legend .legend-labels li:last-child {
    display: none;
  }
}

ngx-tooltip-content div.tooltip-content div.area-tooltip-container div.tooltip-item:last-child {
  display: none;
}

ngx-charts-line-chart.accounts-vs-buyhold-chart-container g.line-chart > g:last-of-type > g:nth-child(2) g.line-series > path {
  stroke: #72b4ec;
  stroke-dasharray: 6 10;
}

.status-card mat-card {
  width: 255px;
  height: 245px;
  margin: 10px;
  background: #fff;
  color: #000;
}

.chart-card mat-card {
  min-height: 75vh;
  margin: 10px;
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 700px) {
  .chart-card mat-card {
    min-height: 98vh;
  }
}

