
h2.mat-h2 {
  text-align: center;
}

tr.mat-header-row {
  display: none;
}

tr.mat-footer-row, tr.mat-row {
  height: 1.8em;
  vertical-align: middle;
}

td.mat-cell {
  text-align: left;
  font-size: 14px;

  &:first-of-type {
    padding-left: 5px;
    padding-right: 25px;
  }

  &:last-of-type {
    padding-right: 5px;
  }
}

mat-table {
  background: #fff;

  .mat-cell {
    color: #000;
  }
}
