
<h2 class='mat-h2'>{{ title }}</h2>

<mat-table [dataSource]='statusCardToRows()'>
  <ng-container matColumnDef='name'>
    <th mat-header-cell *matHeaderCellDef>Row Name</th>
    <td mat-cell *matCellDef='let row'> {{ row.name }} </td>
  </ng-container>
  <ng-container matColumnDef='value'>
    <th mat-header-cell *matHeaderCellDef>Row Value</th>
    <td mat-cell *matCellDef='let row'> {{ row.value }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef='columnsToDisplay'></tr>
  <tr mat-row *matRowDef='let rowData; columns: columnsToDisplay'></tr>
</mat-table>
