<h2 class='mat-h2'>{{ title }}</h2>

<div class='ngx-chart-container'>
  <ngx-charts-bar-vertical-stacked
    class='account-values-chart-container'
    [scheme]='colorScheme'
    [schemeType]='schemeType'
    [results]='accountSeries'
    [animations]='animationsEnabled'
    [legend]='showLegend'
    (legendLabelClick)='onLegendLabelClick($event)'
    [gradient]='gradientEnabled'
    [showDataLabel]='showDataLabel'
    [xAxis]='showXAxis'
    [yAxis]='showYAxis'
    [showXAxisLabel]='showXAxisLabel'
    [showYAxisLabel]='showYAxisLabel'
    [xAxisLabel]='xAxisLabel'
    [yAxisLabel]='yAxisLabel'
    [showGridLines]='showGridLines'
    [roundDomains]='roundDomains'
    [tooltipDisabled]='tooltipDisabled'
    [barPadding]='barPadding'
    (select)='select($event)'
    (activate)='activate($event)'
    (deactivate)='deactivate($event)'>

    <ng-template #tooltipTemplate let-model='model' class='mat-elevation-z8'>
      <div *ngIf='model'>
        <h3>
          <span class='tooltip-label'>{{ accountDetails(model).name }} • {{ accountDetails(model).data.time }}</span>
        </h3>

        <mat-table mat-table [dataSource]='accountToRows(model)'>
          <ng-container matColumnDef='name'>
            <th mat-header-cell *matHeaderCellDef>Row Name</th>
            <td mat-cell *matCellDef='let row' class='tooltip-val'> {{ row.name }} </td>
          </ng-container>
          <ng-container matColumnDef='value'>
            <th mat-header-cell *matHeaderCellDef>Row Value</th>
            <td mat-cell *matCellDef='let row' class='tooltip-val'> {{ row.value }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='columnsToDisplay' style='display: none;'></tr>
          <tr mat-row *matRowDef='let rowData; columns: columnsToDisplay'></tr>
        </mat-table>
      </div>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>
</div>


