<h2 class='mat-h2'>{{ title }}</h2>

<div class='ngx-chart-container'>
  <ngx-charts-line-chart #accountPerformanceLineChart
    class='accounts-performance-chart-container'
    [scheme]='colorScheme'
    [schemeType]='schemeType'
    [results]='accountsSeries'
    [animations]='animationsEnabled'
    [legend]='showLegend'
    (legendLabelClick)='onLegendLabelClick($event)'
    [gradient]='gradientEnabled'
    [xAxis]='showXAxis'
    [yAxis]='showYAxis'
    [showXAxisLabel]='showXAxisLabel'
    [showYAxisLabel]='showYAxisLabel'
    [xAxisLabel]='xAxisLabel'
    [yAxisLabel]='yAxisLabel'
    [autoScale]='enableAutoScale'
    [timeline]='enableTimelineControl'
    [showGridLines]='showGridLines'
    [curve]='curve'
    [rangeFillOpacity]='rangeFillOpacity'
    [roundDomains]='roundDomains'
    [tooltipDisabled]='tooltipDisabled'
    [xAxisTickFormatting]='xAxisFormat'
    (select)='select($event)'
    (activate)='activate($event)'
    (deactivate)='deactivate($event)'>


    <ng-template #tooltipTemplate let-model='model'>
      <span class='tooltip-label'>{{ model.series }} • {{ formatDate(model.name) }}</span>
      <span class='tooltip-val'>{{ stringToFixedNumber(model.value, 6) }}</span>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model='model'>
      <div class='area-tooltip-container'>
        <!-- <span class='tooltip-label'>${seriesName} • ${tooltipLabel}</span> -->
        <span class='tooltip-label'>{{ formatDate(model[0].name) }}</span>
        <div *ngFor='let tooltipItem of model' class='tooltip-item'>
          <span class='tooltip-item-color' [style.background-color]='tooltipItem.color'></span>
          <span class='tooltip-item-name'>{{ tooltipItem.series + ':' }}</span>
          <span class='tooltip-item-value'>{{ stringToFixedNumber(tooltipItem.value, 6) }}</span>
        </div>
      </div>
    </ng-template>

  </ngx-charts-line-chart>
</div>


