
:host {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 20px;
}

.ngx-chart-container {
  width: 98%;
  height: 92%;
}

h2.mat-h2 {
  text-align: center;
}

.area-tooltip-container {
  width: 170px;
}

.tooltip-item-name {
  display: inline-flex;
  width: 52%;
}

.tooltip-item-value {
  float: right;
}



// TODO move this style out of styles.scss and get it working here. Might not be working here,
// because the component is dynamically created.
//ngx-charts-line-chart.accounts-performance-chart-container g.line-chart > g:last-of-type > g:nth-child(2) g.line-series > path {
//  stroke: #72b4ec;
//  stroke-dasharray: 6 10;
//}


